.container {
  display: flex;
  width: 100%;
}

.mainCard {
  width: 70%;
  height: fit-content;
  display: flex;
  margin-right: 32px;

  .left {
    width: 60%;
    color: #fff;

    .titleGroup {
      border-radius: 15px 0 0 15px;
      background: #000;

      .header {
        margin: 0;
        padding: 24px 24px 0;
      }
      .description {
        margin: 0;
        padding: 16px 24px 24px;
      }
    }

    .btnGroup {
      background-color: #000;
      margin-left: 12px;
      .btnWatch {
        background-color: #e9ecf1;
        border: 2px solid #e9ecf1;
        color: #000;
        padding: 12px 32px;
        cursor: pointer;
      }
      .btnInfo {
        background-color: #000;
        border: 2px solid #e9ecf1;
        color: #e9ecf1;
        border-radius: 0 15px 15px 0;
        padding: 12px 32px;
        cursor: pointer;
      }
    }

    .additionalBar {
      background: #000;
      border-radius: 15px 0 0 15px;
      min-height: 45px;
    }
  }

  .right {
    width: 40%;
    background: #000;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.trailerCard {
  width: 30%;
  background: #fff;
  height: fit-content;
}
