.container {
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;

  div {
    margin: 0 16px 0 32px;
  }
}

.logo {
  margin: 0;
  align-items: center;
  display: flex;
  font-size: 36px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px 0 0;

  .heart {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 15px;
  }

  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 13%;
    width: 11px;
    height: 18px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  .heart:after {
    left: 0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}
