.searchBarList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 12px 32px;
  justify-content: space-between;
}

.listItem {
}

.button {
  margin: 0 6px 0 6px;
  border-radius: 15px;
  min-height: 36px;
  min-width: 72px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #fff;
  color: #bbbdbc;
  border: none;
  font-weight: bold;
  font-size: 12px;

  &:nth-child(1) {
    color: #fff;
    margin: 0 6px 0 0;
    background-color: #000;
  }
}

.searchInput {
  min-height: 36px;
  min-width: 272px;
  border-radius: 15px;
  border: none;
  padding: 0 12px;

  &::placeholder {
    color: grey;
  }
}

@media (max-width: 768px) {
  .searchBarList {
    flex-direction: column;
  }
}
