.userAvatar {
  width: 22px;
  height: 22px;
  background-color: #000;
  background: url("https://www.uidownload.com/files/790/68/996/free-set-of-material-design-avatars.png");
  background-size: contain;
}
