.card {
  background-color: #e9ecf1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000;
  min-width: 140px;
  max-width: 140px;
  min-height: 240px;
  max-height: 240px;
  // padding: 12px 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
}

img {
  width: 113px;
  height: 170px;
}

.favorites {
  display: flex;
  justify-content: flex-end;
}

.cardBody {
  padding: 0 0 16px 0;
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.movieTitle {
  text-align: center;
  margin: 0;
  max-width: 140px;
  color: #fff;
  background: #000;
  font-size: 0.85em;
  border-radius: 0 0 11px 11px;
  position: absolute;
  bottom: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
